@import ../../sass/index

.nav
    &._header
        display: flex
        gap: min(20px, 4vw)
        margin-left: auto
        font-size: min(20px, 5vw)
        align-items: center
        @media screen and (max-width: 1000px)
            display: none
