.header
    position: relative
    z-index: 10
    height: min(80px, 15vw)
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    font-size: calc(10px + 2vmin)
    color: white
    padding: 0 min(50px, 5vw)
    display: flex
    flex-direction: row
    &__logo
        pointer-events: none
        margin-right: min(20px, 3vw) 
    &__name
        margin: 0
        font-size: min(18px, 5vw)

